{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
            
                
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .js{
            position: absolute;
            top:0;
            left:0;
        }
        body {
            
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #fff;
        }
        
        .test {
            position: relative;
            
            width: 400px;
            height: 500px;
            background: #000;
            box-shadow: 0 0 50px #0ef;
            border-radius: 20px;
            padding: 40px;
            color: #fff;
            overflow: hidden;
            position: absolute;
            top:20%;
            left: 35%;
            transform: translate(-50%; -50%);
        }
        
        
        
        h1{
            color:#fff;
            font-weight: bold;
            margin-top: 0;
            text-align: center;
            position: absolute;
            top:20%;
            left: 30%;
            transform: translate(-50%; -50%);
        }
        
        .register-form {
            
            justify-content: center;
            align-items: center;
            position: absolute;
            top:25%;
            left: 12%;
            transform: translate(-50%; -50%);
            padding: 40px;
            
            transition: 1s ease-in-out;
            
        }
        .register-form input[type="email"]:focus,
        .register-form input[type="password"]:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px #007bff;
        }

        .register-form input[type="email"]::placeholder,
        .register-form input[type="password"]::placeholder {
            color: #999;
        }

        .register-form button[type="submit"] {
            background: linear-gradient(to right, #007bff, #0033a0);
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

        .register-form button[type="submit"]:hover {
            background-color: linear-gradient(to right, #0033a0, #007bff);
        }

        .login-link {

            
            background: linear-gradient(to right, #FFFF00, #FFA500);
            display: inline-block;
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
        }
        p.login-txt{
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: 1s ease-in-out;
            text-align: center;
            margin-top: 20px;
        }
    
    </style>
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
     
    <div class="js">
        <canvas id= "canvas_register"> Votre navigateur ne prends pas en charge l'animation</canvas>
            {% block javascripts %}
                    {{ encore_entry_script_tags('anim')}}
            {% endblock %}
    </div>
    <div class="test">
        <h1 style="font-family: 'Bookman', serif; color: #fff;">Register</h1>
        <div class="register-form">
            
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
            <p>Do you already have an email ?</p><a href="{{path('app_login')}}">click here login</a></p>
        </div>
    </div>        
        
{% endblock %}
